In [10]:
import pandas as pd
import random
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import missingno as msno
from fancyimpute import KNN    
from sklearn.model_selection import train_test_split,cross_val_score, KFold, StratifiedKFold ,GridSearchCV, RandomizedSearchCV
from sklearn.ensemble import RandomForestClassifier, AdaBoostClassifier
from scipy.stats import uniform
from sklearn.preprocessing import StandardScaler,OneHotEncoder, LabelEncoder, Imputer
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import roc_auc_score,confusion_matrix, classification_report, auc, roc_curve, precision_recall_curve, \
average_precision_score,make_scorer,recall_score, accuracy_score, precision_score
from sklearn import svm
from xgboost.sklearn import XGBClassifier  
from xgboost.sklearn import XGBRegressor
import warnings; warnings.simplefilter('ignore')
from keras.models import Sequential
from keras.layers import Dense
from keras.wrappers.scikit_learn import KerasClassifier
from sklearn.pipeline import Pipeline

In [4]:
df=  pd.read_csv(filepath_or_buffer='data_examen_sanit.txt', delimiter='\t')

In [7]:
df.head()

,target,var1,var2,var3,var4,var5,var6,var7,var8,var9,...,var13,var14,var15,var16,var17,var18,var19,var20,var21,var22
0,1,1,61,0.0,0.0,0.0,165.5,0.05625,1.0,-0.198475,...,0.000000,0,0.0,0,0.0,0.000000,0.000000,0.000000,0.000000,0.000000
1,0,164,58,0.0,0.0,0.0,0.0,0.00000,1.0,-0.341181,...,2.333333,4,1.0,0,8400.0,2780.186523,5608.359863,3172.283203,3689.523438,11.333333
2,1,61,60,0.0,0.0,0.0,0.0,0.00000,1.0,-0.078947,...,2.000000,2,3.0,0,0.0,0.000000,0.000000,0.000000,0.000000,5.500000
3,0,108,49,0.0,0.0,0.0,0.0,0.00000,1.0,-0.924464,...,3.666667,4,2.0,0,67320.0,0.000000,0.000000,0.000000,2168.733398,8.500000
4,0,157,74,0.0,0.0,0.0,0.0,0.00000,1.0,1.705882,...,2.000000,3,1.0,0,12600.0,8409.586914,3175.889893,5024.774902,0.000000,0.000000

In [8]:
"""
BLOQUE = CONO=IMIENTOS GENERALES DE PYTHONb

Pregunta 1.1: =rea una=20funcion a la cual le pases por parametros el =0D
nume=o de filas y el numero de columnas y te la =ellene =on numeros aleatorios del 1 al 100 con 2 deci=ales
C=ea una matriz de 10 filas y 7 columnas. (No=20utilices =UMPY ni PANDAS en este apartado, en los dem=C3¡s puedes=20usarlo)
"""

'\nBLOQUE = CONO=IMIENTOS GENERALES DE PYTHONb\n\nPregunta 1.1: =rea una=20funcion a la cual le pases por parametros el =0D\nnume=o de filas y el numero de columnas y te la =ellene =on numeros aleatorios del 1 al 100 con 2 deci=ales\nC=ea una matriz de 10 filas y 7 columnas. (No=20utilices =UMPY ni PANDAS en este apartado, en los dem=C3¡s puedes=20usarlo)\n'

In [15]:
def matrix_creator(filas,columnas):
    mat = []
    for i in range(filas):
        rowList = []
        for j in range(columnas):
            # you need to increment through dataList here, like this:
            rowList.append(round(random.uniform(1, 100),2))
        mat.append(rowList)

    return mat

In [18]:
matrix_test=matrix_creator(10,7)
matrix_test

[[81.31, 61.31, 50.65, 26.09, 72.89, 16.49, 87.86],
 [94.51, 9.09, 90.85, 28.2, 2.96, 40.48, 73.89],
 [93.76, 3.52, 63.72, 38.93, 35.97, 59.94, 41.98],
 [2.45, 28.9, 76.43, 39.11, 50.14, 4.23, 71.83],
 [28.5, 79.53, 83.48, 60.45, 89.02, 89.68, 1.76],
 [42.54, 21.72, 26.75, 52.55, 64.85, 30.29, 91.66],
 [34.54, 71.53, 5.43, 76.27, 60.95, 93.5, 48.47],
 [64.03, 54.44, 53.79, 4.91, 13.49, 99.8, 31.82],
 [2.91, 47.97, 46.26, 88.61, 63.7, 77.5, 70.46],
 [27.41, 32.78, 46.04, 89.87, 87.99, 56.53, 65.33]]

In [ ]:
"""
Pregunta 1=2: A partir =e la matriz anterior crea un dataframe d= PANDAS, poniend= como nombre de columnas los dÃ­as =e la semana
=i no pudiste crear la matriz del apar=ado anterior, puede= crear una a partir de NUMPY
"""

In [20]:
cogno_df= pd.DataFrame(matrix_test)
cogno_df

       0      1      2      3      4      5      6
0  81.31  61.31  50.65  26.09  72.89  16.49  87.86
1  94.51   9.09  90.85  28.20   2.96  40.48  73.89
2  93.76   3.52  63.72  38.93  35.97  59.94  41.98
3   2.45  28.90  76.43  39.11  50.14   4.23  71.83
4  28.50  79.53  83.48  60.45  89.02  89.68   1.76
5  42.54  21.72  26.75  52.55  64.85  30.29  91.66
6  34.54  71.53   5.43  76.27  60.95  93.50  48.47
7  64.03  54.44  53.79   4.91  13.49  99.80  31.82
8   2.91  47.97  46.26  88.61  63.70  77.50  70.46
9  27.41  32.78  46.04  89.87  87.99  56.53  65.33

In [21]:
"""
=regunta 1.3: Como crearÃ­as una =structura de datos si =l tipo de dato no fuera unifor=e (mismo tipo de dato)?
=0ACrea una estructura cuyo pri=er elemento sea un vector =e NUMPY de 10 nÃºmeros =leatorios entre 1 y 100
= el segundo elemento un v=ctor con esos mismos valores =ero como caracteres.
"""

'\n=regunta 1.3: Como crearÃ\xadas una =structura de datos si =l tipo de dato no fuera unifor=e (mismo tipo de dato)?\n=0ACrea una estructura cuyo pri=er elemento sea un vector =e NUMPY de 10 nÃºmeros =leatorios entre 1 y 100\n= el segundo elemento un v=ctor con esos mismos valores =ero como caracteres.\n'

In [29]:
ejemplo = []
rowList=[]
for i in range(10):
    # you need to increment through dataList here, like this:
    rowList.append(round(random.uniform(1, 100),2))
ejemplo.append(rowList)
string_list=[]
for i in range(10):
    # you need to increment through dataList here, like this:
    string_list.append( str( round(random.uniform(1, 100),2) )  )

ejemplo.append(string_list)

In [30]:
ejemplo_df= pd.DataFrame(ejemplo)
ejemplo_df

       0      1      2      3      4      5      6      7      8      9
0  18.04  96.64   13.4  20.59  94.49   4.18  82.56  55.28  27.21  33.85
1  99.28  35.27  73.49  77.99  79.45  89.66  56.04  50.86  96.98   2.42

In [34]:
ejemplo_df.dtypes

0    float64
1    float64
2    float64
3    float64
4    float64
5    float64
6    float64
7    float64
8    float64
9    float64
dtype: object

In [35]:
for col in  ejemplo_df.columns:
    ejemplo_df[col] = pd.to_numeric(ejemplo_df[col], errors='coerce')

In [36]:
ejemplo_df.dtypes

0    float64
1    float64
2    float64
3    float64
4    float64
5    float64
6    float64
7    float64
8    float64
9    float64
dtype: object

In [37]:
ejemplo_df

       0      1      2      3      4      5      6      7      8      9
0  18.04  96.64  13.40  20.59  94.49   4.18  82.56  55.28  27.21  33.85
1  99.28  35.27  73.49  77.99  79.45  89.66  56.04  50.86  96.98   2.42

In [ ]:
=0D



"""
Pregunta =.4: normaliza todos los=20elementos de la primera matriz. E=to es, por
cada =lemento resta la media y divide por=20la desviacion tipic= del conjunto.
"""


"""
=0APregunta 1.5: Fi=tra la matriz normalizada y devuelve los=20valores entre =1 y 1, sin usar un bucle
El resulta=o debe ser u= vector con dichos valores ordenados descend=ntemente
""=


"""
BLOQUE 2: CREAR HISTOGRAM= Y DIAGRAM= DE BARRAS DE MÃS FRECUENTES.

2.1 =rea un =ector de nÃºmeros enteros aleatorios entre el = y e= 10, de tamaÃ±o 100
Crea otro vector de n=meros =leatorios entre el 11 y el 20 del mismo tamaÃ±=
= muestra por pantalla la tabla de frecuencia de la=20un=Ã³n de los 2 vectores
para los valores 5,6 y ==20(de la primera) y para los valores 14,16,19 (de la s==unda).
"""


"""
2.2 crea el histograma p==a dicho vector de frecuencias, con ancho de barra 0.75, =3DÃ­tulo: histograma
y color de barra azul. Poner un=20=Ã­tulo al eje x para diferenciar que son los nÃ=BAm=ros que se van a repetir.
"""

"""
2.3 =rea=20un diagrama de barras para el vector fusionado
c=n l=s 3 elementos mÃ¡s repetidos, si los hay, sin =ontar =a moda.
"""



"""
BLOQUE 3: =ARGA DE=20FICHEROS Y MODELIZACION.

Tenemos un ficher= llamado =ata_examen_sanit del cual queremos realizar una =odelizacion =ediante
un arbol de decision y una regres=Ã³n logÃ=ADstica.
La columna objetivo de la tabla =e llama "tar=et", y el resto de columnas actuan como =nput para pred=cir el Target

#3.1 Cargue dicho f=chero y prepara =os datos para la modelizaciÃ³n.
#=on una proporcion =0-30 para los conjuntos train y test=
#ObtÃ©n los =stadisticos mÃ¡s importantes para =as variables del conju=to de datos
"""



=0A"""
3.2 Entrene y =value los modelos. Arbol y reg.=20logÃ­stica
"""

=0A

"""
3.3 Proponga =n mÃ©todo para comparar =mbos modelos (ej: Curva ROC)=0D
"""

=